name: Publish NuGet

on:
  workflow_dispatch:
  push:
    tags:
      - 'v*.*.*'

jobs:
  publish:
    runs-on: windows-latest

    steps:
    - uses: actions/checkout@v4

    - name: Setup .NET
      uses: actions/setup-dotnet@v4
      with:
        dotnet-version: '10.0.x'

    - name: Get Version from Tag
      id: get_version
      shell: pwsh
      run: |
        $version = "${{ github.ref_name }}".TrimStart('v')
        Write-Host "Version found: $version"
        "VERSION=$version" >> $env:GITHUB_OUTPUT

    - name: Restore dependencies
      run: dotnet restore

    - name: Run Tests
      run: dotnet test --configuration Release --no-restore --verbosity normal

    - name: Build
      run: dotnet build --configuration Release --no-restore -p:ContinuousIntegrationBuild=true

    - name: Pack
      run: dotnet pack --configuration Release -o out -p:PackageVersion=${{ steps.get_version.outputs.VERSION }} --force

    - name: Push package to NuGet
      run: dotnet nuget push out\*.nupkg --api-key ${{ secrets.NUGET_API_KEY }} --source https://api.nuget.org/v3/index.json --skip-duplicate
